#Menu {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    background-color: hsl(215, 85%, 35%);
    color: #ffffff;
    margin: -2px;   
    padding: 5px;
    display: inline-table;
    text-align: center;
    vertical-align: middle;
    font-size: 30px;
}

a:hover {
    background-color: hsl(215,85%, 50%);
}